html {
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-align: center;
  display: block;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}

header {
  background-color: #ffe500;
  text-align: center;
}

main {
  padding-left: .75em;
  padding-right: .75em;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .4em;
  margin: 0;
  color: #2f2d13;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  color: #b20953;

}

li {
  display: inline-block;
}

a {
  display: inline-block;
  background-color: #b2a212;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-family: Georgia;
  text-decoration: none;
  padding: .2em .5em .3em;
  font-size: 1.125rem;
  margin-bottom: .3em;
}

img {
  width: 100%;
  display: block;
}

.nav a:hover {
  background-color: #cc1465;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

p {
  font-family: Georgia;
  line-height: 1.5;
  color: #2f2d13;
}

.current {
  background-color: #b20953;
}

.footer {
  margin: 0;
  padding: .4em;
}
